
@{
    ViewBag.Title = "QuienesSomos";
}

<br>
<br> 

<section class="page-section bg-light">
    <div class="container">
        <br>
        <br>
        <H1 class="text-center"><strong> Quienes somos</strong></H1>

        <br>
        <!-- parrafo -->

        <div class="text-center container-phase">
            <p>Nosotras somos Maria Belen Piva, Angela Park y Cecilia Lombardi!</p>
            <p>
                Tres estudiantes del último año de la escuela ORT, de la especialidad <mark>informática</mark>, en la qué a lo largo de los tres años en los qué se
                <span class="d-block">
                    desarrolla la especialidad, estudiamos y combinamos distintas materias, diferentes lenguajes de programación, programas y herramientas,
                </span>
                <span class="d-block">
                    como <mark>bootstrap</mark>, <mark>Sql Server</mark>, <mark>MVC.net</mark>, entre otros, qué nos sirven para poder desarrollar esta página web.
                </span>
            </p>
            <p>
                Para la materia proyecto final, decidimos hacer este proyecto, basándonos en nuestras necesidades
                <span class="d-block">
                    y experiencias personales, para así, poder tener un mejor resultado de sitio web.
                </span>
                al qué le pusimos como nombre  <strong>ASFY</strong>, qué es una página para hacer ejercicio, qué cuenta con diversas rutinas, y varios módulos,
                <span class="d-block">
                    como por ejemplo: un calendario personal para registrar tu actividad física.
                </span>
            </p>
            <p>Contactos:</p>
            <span class="d-block">
                mbelenpiva@gmail.com, crisangela648@gmail.com y chechulombardini@gmail.com
            </span>
            <br>
            <br>
            </div>
        </div>
</section>

<div class="container">
    <br>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h2 class="MV">
                    <strong>
                        mision <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd" />
                        </svg>
                    </strong>
                </h2>
                <p class="MV">
                    Estamos para ayudar a los adolescentes, jóvenes y adultos que se les dificulta acceder a un gimnasio, así sea  por el covid-19 o por otro motivo,
                    y no saben cómo hacer home training sin ningún entrenador a su lado que los ayude.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h2 class="MV">
                    <strong>
                        vision <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd" />
                        </svg>
                    </strong>
                </h2>
                <p class="MV">
                    Queremos resolver el problema hacia la gente que no puede acceder a  gimnasios, pero que de todas formas quisieran poder ir o realizar actividades físicas,
                    entonces con nuestra aplicación ellos pueden estar en el “gimnasio” de manera virtual.
                </p>
            </div>
        </div>
    </div>
</div>





<br>
<br>

<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <br>
            <h2 class="section-heading text-uppercase"> Nuestro equipo </h2>
            <h3 class="section-subheading text-muted">Un poco mas sobre nosotras </h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="~/Content/Persona IMG 3.jpg" width="200" alt="..." />
                    <h4>Angela Park</h4>
                    <p class="text-muted">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="~/Content/Persona IMG 1.jpg" width="200" alt="..." />
                    <h4> Belen Piva </h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="~/Content/Persona IMG 2.jpg" width="200" alt="..." />
                    <h4>Cecilia Lombardi</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    Nosotras en base a nuestras experiencias y estudios, creamos ASFY para que pueda tener todas las
                    comodidades al realizar el ejercicio en su casa
                </p>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<!-- fin de parrafo -->
