
@{
    ViewBag.Title = "Registrarse";
}

<br>
<br>

<div class=" container">


        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Crear cuenta</h4>
                <p class="text-center">Empiece creando una cuenta</p>

                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Nombre Completo" type="text">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Email" type="email">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                            <option selected="">+54</option>
                            <option value="1">+57</option>
                            <option value="2">+55</option>
                            <option value="3">+56</option>
                        </select>
                        <input name="" class="form-control" placeholder="Numero telefono" type="text">
                    </div> <!-- form-group// -->
                    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Direccion" type="email">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Cree una contrasenia" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Repita la contrasenia" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block"> Crear Cuenta  </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Ya tienes una cuenta? @Html.ActionLink("Log In", "InicioSesion", "ASFY", null, new { @class = "nav-link" }) </p>
                </form>
            </article>
        </div> <!-- card.// -->


        <br>
        <br>

    </div>
